
{% extends 'base.html.twig' %}

{% block body %}

    <div class="modal">
        <div class="modal__container">
            <div class="modal__featured">
                <button type="button" class="button--transparent button--close">
                    <svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                        <g><path fill="#ffffff" d="M1.293,15.293L11,5.586L12.414,7l-8,8H31v2H4.414l8,8L11,26.414l-9.707-9.707 C0.902,16.316,0.902,15.684,1.293,15.293z"></path> </g></svg>
                    <span class="visuallyhidden">Retour</span>
                </button>
                <div class="modal__circle"></div>
                <img src=" {{ asset('img/illu-croquette-chien.png') }}" alt="Croquette pour chien" class="modal__product" />
            </div>
            <div class="modal__content">
                <h2>Modifier un produit</h2>
{{ form_start(petfoodFormUpdate) }}

<ul class="form-list">
    <li class="form-list__row">
        {{ form_label(petfoodFormUpdate.name, 'Nom du produit') }}
        {{ form_widget(petfoodFormUpdate.name) }}
        {{ form_errors(petfoodFormUpdate.name)}}
    </li>
    <li class="form-list__row">
        {{ form_label(petfoodFormUpdate.brand, 'Marque') }}
        {{ form_widget(petfoodFormUpdate.brand) }}
        {{ form_errors(petfoodFormUpdate.brand)}}
    </li>
    <li class="form-list__row">
        {{ form_label(petfoodFormUpdate.ean, 'Code barre') }}
        {{ form_widget(petfoodFormUpdate.ean) }}
        {{ form_errors(petfoodFormUpdate.ean)}}
    </li>
    <li class="form-list__row form-list__row--inline">
        <div>
            {{ form_label(petfoodFormUpdate.percent_proteine, '% protéines') }}
            <div class="form-list__input-inline">
                {{ form_widget(petfoodFormUpdate.percent_proteine) }}
                {{ form_errors(petfoodFormUpdate.percent_proteine)}}
            </div>
        </div>
        <div>
            <label>
                {{ form_label(petfoodFormUpdate.percent_ashes, '% cendres') }}
                {{ form_widget(petfoodFormUpdate.percent_ashes, {'attr': {'class': 'input_book'}}) }}
                {{ form_errors(petfoodFormUpdate.percent_ashes)}}
            </label>
        </div>
    </li>
    <li class="form-list__row form-list__row--inline">
        <div>
            {{ form_label(petfoodFormUpdate.percent_fat, '% gras') }}
            <div class="form-list__input-inline">
                {{ form_widget(petfoodFormUpdate.percent_fat) }}
                {{ form_errors(petfoodFormUpdate.percent_fat)}}
            </div>
        </div>
        <div>
            <label>
                {{ form_label(petfoodFormUpdate.humidity, '% Humidité') }}
                {{ form_widget(petfoodFormUpdate.humidity) }}
                {{ form_errors(petfoodFormUpdate.humidity)}}
            </label>
        </div>
    </li>
    <li class="form-list__row form-list__row--inline">
        <div>
            {{ form_label(petfoodFormUpdate.ingredient_1,'Ingrédient n°1') }}
            <div class="form-list__input-inline">
                {{ form_widget(petfoodFormUpdate.ingredient_1) }}
                {{ form_errors(petfoodFormUpdate.ingredient_1)}}
            </div>
        </div>
        <div>
            <label>
                {{ form_label(petfoodFormUpdate.ingredient_2, 'Ingrédient n°2') }}
                {{ form_widget(petfoodFormUpdate.ingredient_2) }}
                {{ form_errors(petfoodFormUpdate.ingredient_2)}}
            </label>
        </div>
    </li>
    <li class="form-list__row form-list__row--inline">
        <div>
            {{ form_label(petfoodFormUpdate.ingredient_3,'Ingrédient n°3') }}
            <div class="form-list__input-inline">
                {{ form_widget(petfoodFormUpdate.ingredient_3) }}
                {{ form_errors(petfoodFormUpdate.ingredient_3)}}
            </div>
        </div>
        <div>
            <label>
                {{ form_label(petfoodFormUpdate.type, 'Destiné pour') }}
                {{ form_widget(petfoodFormUpdate.type) }}
                {{ form_errors(petfoodFormUpdate.type)}}
            </label>
        </div>
    </li>
    <li class="form-list__row form-list__row--inline">
        <div>
            {{ form_label(petfoodFormUpdate.age,'Age conseillé') }}
            <div class="form-list__input-inline">
                {{ form_widget(petfoodFormUpdate.age) }}
                {{ form_errors(petfoodFormUpdate.age)}}
            </div>
        </div>
        <div>
            <label>
                {{ form_label(petfoodFormUpdate.weight, 'Conditionnement') }}
                {{ form_widget(petfoodFormUpdate.weight) }}
                {{ form_errors(petfoodFormUpdate.weight)}}
            </label>
        </div>
    </li>
    <li class="form-list__row form-list__row--inline">
        <div>
            {{ form_label(petfoodFormUpdate.cellulose,'% Cellulose') }}
            <div class="form-list__input-inline">
                {{ form_widget(petfoodFormUpdate.cellulose) }}
                {{ form_errors(petfoodFormUpdate.cellulose)}}
            </div>
        </div>
        <div>
            <label>
                {{ form_label(petfoodFormUpdate.image, 'Image du produit') }}
                {{ form_widget(petfoodFormUpdate.image, {'attr':{'class':'input_image'}}) }}
            </label>
        </div>
    </li>
    <li>
        {{ form_widget(petfoodFormUpdate.submit,{ 'label': 'Modifier ce produit'}) }}
    </li>
</ul>
</div> <!-- END: .modal__content -->
</div> <!-- END: .modal__container -->
</div> <!-- END: .modal -->


{{ form_end(petfoodFormUpdate) }}
{% endblock %}